@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
*{
padding: 0;
margin: 0;
}

h1{
font-family: 'Pirata One', cursive;
font-weight: 400;
color:white;
font-size: 5em;
text-align: center;
text-shadow: 7px 7px 5px black;
position: absolute;
left: 10.7%;
top: 136px;
text-decoration: underline;
}

/*

text-align: center / middle

Position relative moves the wished element to 
wished place but it gets affected by default position/place.

*/

p{
font-family: 'Pirata One', cursive;
font-weight: 400;
color:white;
font-size: 1.25em;
text-align: center;
text-shadow: 7px 7px 5px black;
position: relative;
width: 25%;
top: 250px;
left: 11%;
}

/*

no white space

With position fixed i can choose how i want to move an element compared to the webpage. 
So even if i scroll down on the website the element will have the same position/place

*/

body{
background-color: black;
position: fixed;
}

/*

again, interface

*/

li1{
font-family: 'Pirata One', cursive;
font-size: 2em;
text-align: center;
font-weight: 400;
color:white;
left: 4%;
top: 50px;
position: absolute;
}

li2{
font-family: 'Pirata One', cursive;
font-size: 2em;
text-align: center;
font-weight: 400;
color:white;
left: 10%;
top: 50px;
position: absolute;
}

li3{
font-family: 'Pirata One', cursive;
font-size: 2em;
text-align: center;
font-weight: 400;
color:white;
left: 18.5%;
top: 50px;
position: absolute;
}

a{
color: white;
}

/*

I make a border and then give it enough height and 
with the help with top:0 and bottom:0 so it covers the whole screen

top:0 bottom:0 = makes it so the vertical line has no gaps, covers up the screen vertically.

*/

.vertical{
border: 7px solid white;
height: 1000px;
position: absolute;
left: 50%;
top: 0;
bottom: 0;
}

/*

right:0 bottom:0 top:0 + width: 50% = makes it so the picture is completely 
to the right side because of right:0 and takes up 50% of the screen because of width: 50%

*/

.picture{
position: absolute;
right: 0;
top: 0;
bottom: 0;
width: 50%;
}
