@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
*{
  padding: 0;
  margin: 0;
}

h1{
font-family: 'Pirata One', cursive;
font-weight: 400;
color:white;
font-size: 5.5em;
text-align: center;
text-shadow: 7px 7px 5px black;
position: absolute;
right: 730px;
top: 10px;
text-decoration: underline;
}

/*

headlines and their position for 4 best songs

*/

h2{
font-family: 'Pirata One', cursive;
font-weight: 400;
color:white;
font-size: 2em;
text-align: center;
text-shadow: 7px 7px 5px black;
position: absolute;
left: 31.5%;
top: 150px;
text-decoration: underline;
}

h3{
font-family: 'Pirata One', cursive;
font-weight: 400;
color:white;
font-size: 2em;
text-align: center;
text-shadow: 7px 7px 5px black;
position: absolute;
right: 29%;
top: 150px;
text-decoration: underline;
}

h4{
font-family: 'Pirata One', cursive;
font-weight: 400;
color:white;
font-size: 2em;
text-align: center;
text-shadow: 7px 7px 5px black;
position: absolute;
left: 32%;
top: 550px;
text-decoration: underline;
}

h5{
font-family: 'Pirata One', cursive;
font-weight: 400;
color:white;
font-size: 2em;
text-align: center;
text-shadow: 7px 7px 5px black;
position: absolute;
right: 31%;
top: 550px;
text-decoration: underline;
}

body{
background-color: black;
position: relative;
}

/*

again, interface

*/

li1{
font-family: 'Pirata One', cursive;
font-size: 2em;
text-align: center;
font-weight: 400;
color:white;
left: 4%;
top: 50px;
position: absolute;
}

li2{
font-family: 'Pirata One', cursive;
font-size: 2em;
text-align: center;
font-weight: 400;
color:white;
left: 10%;
top: 50px;
position: absolute;
}

li3{
font-family: 'Pirata One', cursive;
font-size: 2em;
text-align: center;
font-weight: 400;
color:white;
left: 18.5%;
top: 50px;
position: absolute;
}

/*

sizes, positions for song covers

*/

li4{
position: absolute;
left: 500px;
top: 200px;
border: 5px solid white;
}

li5{
position: absolute;
right: 500px;
top: 200px;
border: 5px solid white;
}

li6{
position: absolute;
left: 500px;
top: 600px;
border: 5px solid white;
}

li7{
position: absolute;
right: 500px;
top: 600px;
border: 5px solid white;
}

a{
color: white;
}
