/*

import font, sheet

*/

@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
*{
  padding: 0;
  margin: 0;
}

/*

font-weight is thickness of the characters

text-decoration: underline; to underline text

*/

h1{
font-family: 'Pirata One', cursive;
font-weight: 400;
color:white;
font-size: 5.5em;
text-align: center;
text-shadow: 7px 7px 5px black;
position: absolute;
right: 800px;
top: 400px;
text-decoration: underline;
}

/*

same as h1 but different position and size

position absolute = independent, other element, its position doesnt get affected by other elements.

*/

h2{
font-family: 'Pirata One', cursive;
font-weight: 400;
color:white;
font-size: 3em;
text-align: center;
text-shadow: 7px 7px 5px black;
position: absolute;
right: 860px;
bottom: 350px;
text-decoration: underline;
}

/*

Font: colours, sizes and positions for the interface

*/

li1{
font-family: 'Pirata One', cursive;
font-size: 2em;
text-align: center;
font-weight: 400;
color:white;
left: 4%;
top: 50px;
position: absolute;
}

li2{
font-family: 'Pirata One', cursive;
font-size: 2em;
text-align: center;
font-weight: 400;
color:white;
left: 10%;
top: 50px;
position: absolute;
}

li3{
font-family: 'Pirata One', cursive;
font-size: 2em;
text-align: center;
font-weight: 400;
color:white;
left: 18.5%;
top: 50px;
position: absolute;
}

/*

Position of social media buttons

*/

li4{
left: 5px;
bottom: 5%;
position: absolute;
}

li5{
left: 90px;
bottom: 5%;
position: absolute;
}

li6{
left: 175px;
bottom: 5%;
position: absolute;
}

li7{
left: 260px;
bottom: -10px;
position: absolute;
}

/*

I do this 

a{
color: white;
}

so the interfaces buttons become white instead of purple

*/

a{
color: white;
}

/*

background-image: url to link a picture

positioning of background image

(top: 0; bottom: 0; left: 0; right: 0;) no white gaps, covers the whole screen.

*/

body{
background-image: url("kanye.jpg");
top: 0;
bottom: 0;
left: 0;
right: 0;
}

/*

positioning of social media links

If i dont do this, they become all over the place, but when i do this they are in a good position.

*/

.social{
left: 4%;
bottom: 30px;
position: absolute;
margin-bottom: 2px;
}
