@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
*{
padding: 0;
margin: 0;
}

h1{
font-family: 'Pirata One', cursive;
font-weight: 400;
color:white;
font-size: 5em;
text-align: center;
text-shadow: 7px 7px 5px black;
position: absolute;
left: 10.7%;
top: 136px;
text-decoration: underline;
}

p{
font-family: 'Pirata One', cursive;
font-weight: 400;
color:white;
font-size: 1.25em;
text-align: center;
text-shadow: 7px 7px 5px black;
position: relative;
width: 25%;
top: 250px;
left: 11%;
}

body{
background-color: black;
position: fixed;
}

li1{
font-family: 'Pirata One', cursive;
font-size: 2em;
text-align: center;
font-weight: 400;
color:white;
left: 4%;
top: 50px;
position: absolute;
}

li2{
font-family: 'Pirata One', cursive;
font-size: 2em;
text-align: center;
font-weight: 400;
color:white;
left: 10%;
top: 50px;
position: absolute;
}

li3{
font-family: 'Pirata One', cursive;
font-size: 2em;
text-align: center;
font-weight: 400;
color:white;
left: 19%;
top: 50px;
position: absolute;
}

a{
color: white;
}

.vertical{
border-left: 7px solid white;
height: 1100px;
position: absolute;
left: 50%;
top: 0;
bottom: 0;
}

.picture{
position: absolute;
right: 0px;
top: 0px;
bottom: 0px;
width: 50%
}
