@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
*{
  padding: 0;
  margin: 0;
}

h1{
font-family: 'Pirata One', cursive;
font-weight: 400;
color:white;
font-size: 5.5em;
text-align: center;
text-shadow: 7px 7px 5px black;
position: absolute;
right: 800px;
top: 10px;
text-decoration: underline;
}

body{
background-color: black;
position: relative;
}

li1{
font-family: 'Pirata One', cursive;
font-size: 2em;
text-align: center;
font-weight: 400;
color:white;
left: 4%;
top: 50px;
position: absolute;
}

li2{
font-family: 'Pirata One', cursive;
font-size: 2em;
text-align: center;
font-weight: 400;
color:white;
left: 10%;
top: 50px;
position: absolute;
}

li3{
font-family: 'Pirata One', cursive;
font-size: 2em;
text-align: center;
font-weight: 400;
color:white;
left: 19%;
top: 50px;
position: absolute;
}

a{
color: white;
}
