*{
  padding: 0;
  margin: 0;
}

h1{

  font-family: 'Sofia';
  font-style: normal;
  font-weight: 400;
    text-shadow:5px 5px 5px blue;

color:white;

text-align: center;
font-size: 2em;

padding: 5px;
width: 200px;
border-radius: 5px;
border: 2px solid white;

margin-top: 80px;
margin-left: 370px;
margin-right: 800px;
}

body{
  background-image: url("kanye.gif");
}

.bg{
width: 50%;
background-image: url("grad.jpg");
position: absolute;
top: 0;
left: 0;
bottom: 0;

}

.text{

  font-family: 'Sofia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  text-shadow:5px 5px 5px blue;



text-align: center;
position: relative;
color:white;
width: 600px;
padding: 20px;
border-style: solid;
border-radius: 50px;
text-shadow: 2px;
top: 70px;
bottom: 70px;
left: 158px;
}
