*{
  padding: 0;
  margin: 0;
}

h1{

color:white;

text-align: center;
font-size: 2em;

padding: 5px;
width: 200px;
border-radius: 5px;
border: 2px solid white;

margin-top: 80px;
margin-left: 370px;
margin-right: 800px;
}

.bg{
width: 50%;
background-color: black;
position: absolute;
top: 0;
left: 0;
bottom: 0;

}

.text{
text-align: center;
position: relative;
color:white;
width: 600px;
padding: 20px;
border-style: solid;
border-radius: 50px;
text-shadow: 2px;
top: 70px;
bottom: 70px;
left: 158px;


}
